.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 0;
  }

  .footer-text{
    margin-left: 20px;
  }

  .footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .footer-links a{
    margin-left: 10px;
  }